In [17]:
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import pandas as pd

%matplotlib inline

<H1>COVID-19 DATA ANALYSIS</H1>

The dashboard from hopkins it's great but it needs more drill down capabilites

Plan:
- Report all the cases, live update if possible
- Narrow down analysis to US
- Do a flow or kansey viz of spread path
- Compare confirmed cases to SARS
- Do a timelapse viz of infection / confirmed cases
- Try to get a news feed

<h3> Data Source</h3>

**John Hopkins official Data:**

John Hopkins Official GitHub:

https://github.com/CSSEGISandData/COVID-19

My Fork: 

https://github.com/FrankJLopez117/COVID-20

How to update:

https://gist.github.com/CristinaSolana/1885435

**SARS Outbreak Dataset:**

https://www.kaggle.com/imdevskp/sars-outbreak-2003-complete-dataset#sars_2003_complete_dataset_clean.csv

<h3> Data Prep</h3>

<h4>COVID-19 Data</h4>

In [19]:
#import the covid-19 data
corona_confirmed_ts_path = 'assets/COVID-20/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Confirmed.csv'
corona_confirmed_ts = pd.read_csv(corona_confirmed_ts_path)

corona_deaths_ts_path = 'assets/COVID-20/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Deaths.csv'
corona_deaths_ts = pd.read_csv(corona_deaths_ts_path)

corona_recovered_ts_path = 'assets/COVID-20/csse_covid_19_data/csse_covid_19_time_series/time_series_19-covid-Recovered.csv'
corona_recovered_ts = pd.read_csv(corona_recovered_ts_path)

In [29]:
#transform covid-19 data into tabular data

corona_confirmed = corona_confirmed_ts.melt(["Province/State", "Country/Region","Lat","Long"], var_name="Date", value_name="Confirmed")

corona_deaths = corona_deaths_ts.melt(["Province/State", "Country/Region","Lat","Long"], var_name="Date", value_name="Deaths")

corona_recovered = corona_recovered_ts.melt(["Province/State", "Country/Region","Lat","Long"], var_name="Date", value_name="Recovered")
corona_recovered

         Province/State  Country/Region      Lat      Long     Date  Recovered
0                 Anhui  Mainland China  31.8257  117.2264  1/22/20        0.0
1               Beijing  Mainland China  40.1824  116.4142  1/22/20        0.0
2             Chongqing  Mainland China  30.0572  107.8740  1/22/20        0.0
3                Fujian  Mainland China  26.0789  117.9874  1/22/20        0.0
4                 Gansu  Mainland China  36.0611  103.8343  1/22/20        0.0
...                 ...             ...      ...       ...      ...        ...
20195  Saint Barthelemy          France  17.9000  -62.8333  3/11/20        0.0
20196               NaN         Jamaica  18.1096  -77.2975  3/11/20        0.0
20197               NaN         Reunion -21.1151   55.5364  3/11/20        0.0
20198               NaN          Turkey  38.9637   35.2433  3/11/20        0.0
20199         Gibraltar  United Kingdom  36.1408   -5.3536  3/11/20        1.0

[20200 rows x 6 columns]

In [22]:
#Merge the confirmed,deaths, and recovered datasets
df = pd.merge(corona_confirmed,corona_deaths)
df = pd.merge(df,corona_recovered)
df.to_csv("test.csv")

In [36]:
Today = df.loc[:,"Date"]=='3/11/20'  
df[Today]

,Province/State,Country/Region,Lat,Long,Date,Confirmed,Deaths,Recovered
19796,Anhui,Mainland China,31.8257,117.2264,3/11/20,NaN,NaN,NaN
19797,Beijing,Mainland China,40.1824,116.4142,3/11/20,NaN,NaN,NaN
19798,Chongqing,Mainland China,30.0572,107.8740,3/11/20,NaN,NaN,NaN
19799,Fujian,Mainland China,26.0789,117.9874,3/11/20,NaN,NaN,NaN
19800,Gansu,Mainland China,36.0611,103.8343,3/11/20,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...
20195,Saint Barthelemy,France,17.9000,-62.8333,3/11/20,1.0,0.0,0.0
20196,NaN,Jamaica,18.1096,-77.2975,3/11/20,1.0,0.0,0.0
20197,NaN,Reunion,-21.1151,55.5364,3/11/20,1.0,0.0,0.0
20198,NaN,Turkey,38.9637,35.2433,3/11/20,1.0,0.0,0.0
20199,Gibraltar,United Kingdom,36.1408,-5.3536,3/11/20,1.0,0.0,1.0

<h4>2003 SARS Outbreak</h4>

In [37]:
#import the covid-19 data
sars2003_path = 'assets/sars-outbreak-2003-complete-dataset/sars_2003_complete_dataset_clean.csv'
sars2003 = pd.read_csv(sars2003_path)

In [38]:
sars2003

,Date,Country,Cumulative number of case(s),Number of deaths,Number recovered
0,2003-03-17,Germany,1,0,0
1,2003-03-17,Canada,8,2,0
2,2003-03-17,Singapore,20,0,0
3,2003-03-17,"Hong Kong SAR, China",95,1,0
4,2003-03-17,Switzerland,2,0,0
...,...,...,...,...,...
2533,2003-07-11,Switzerland,1,0,1
2534,2003-07-11,Thailand,9,2,7
2535,2003-07-11,United Kingdom,4,0,4
2536,2003-07-11,United States,75,0,67
2537,2003-07-11,Viet Nam,63,5,58